body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h2 {
    color: #333;
    margin-bottom: 20px;
}
form {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
}
label {
    display: block;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
}
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}
button {
    margin-top: 20px;
    background-color: #1d104d;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #b48f28;
}
.logo img {
    width: 250px;   /* tamaño recomendado */
    height: auto;
    display: block;
    margin: 10px auto 30px auto; /* centrado */
}

